body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f6fc;
    margin: 0;
    padding: 10px;
}

.container {
    width: 70%;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
}